In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('index.csv')

In [6]:
# Access the 3rd column
df.iloc[:,2]

0       8
1       0
2       0
3       0
4       0
       ..
252     0
253     6
254     0
255    45
256     6
Name: C, Length: 257, dtype: int64

In [5]:
# Access the last 2 columns
df.iloc[:,-2:]

     K  L
0    0  3
1    0  3
2    0  3
3    0  3
4    0  3
..  .. ..
252  0  3
253  0  3
254  0  3
255  0  3
256  0  3

[257 rows x 2 columns]

In [7]:
# Access the last 10 rows and first 2 columns
df.iloc[-10:,:2]

     A  B
247  C  R
248  C  A
249  C  A
250  C  R
251  C  A
252  C  A
253  C  R
254  C  A
255  C  K
256  C  R